<form *ngIf="mercancia" #form="ngForm" (ngSubmit)="guardar()">
  <div class="form-header">
    <h4>{{ modo === 'crear' ? 'Crear Mercancía' : 'Editar Mercancía' }}</h4>
  </div>
  <div class="form-body">
    <div class="form-group">
      <label>Nombre:</label>
      <input
        type="text"
        id="nombreMercancia"
        [(ngModel)]="mercancia.nombreMercancia"
        name="nombreMercancia"
        required
      />
    </div>
    <div class="form-group">
      <label>Cantidad:</label>
      <input
        type="number"
        [(ngModel)]="mercancia.cantidadMercancia"
        name="cantidadMercancia"
        required
      />
    </div>
    <div class="form-group">
      <label>Fecha de ingreso:</label>
      <input
        type="date"
        [(ngModel)]="mercancia.fechaIngresoMercancia"
        name="fechaIngresoMercancia"
        required
      />
    </div>
    <div class="acciones">
      <button type="submit">{{ modo === 'crear' ? 'Guardar' : 'Actualizar' }}</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</form>
