<form *ngIf="cargo" #form="ngForm" (ngSubmit)="guardar()">
  <div class="form-header">
    <h4>{{ modo === 'crear' ? 'Crear Cargo' : 'Editar Mercancía' }}</h4>
  </div>
  <div class="form-body">
    <div class="form-group">
      <label>Nombre:</label>
      <input
        type="text"
        id="nombreMercancia"
        [(ngModel)]="cargo.nombreCargo"
        name="nombreMercancia"
        required
      />
    </div>
    <div class="acciones">
      <button type="submit">{{ modo === 'crear' ? 'Guardar' : 'Actualizar' }}</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</form>
<app-notification
  *ngIf="showNotification"
  [type]="notificationType"
  [title]="'Error'"
  [message]="notificationMessage"
  (onClose)="closeNotification()">
</app-notification>
