<div>
<div class="header">
  <h2>Listado de Cargos</h2>
  <div class="actions">
    <Button (click)="createCargo()" class="btn btn-primary">Crear Cargo</Button>
  </div>
</div><div class="body">
<table>
  <thead>
  <tr>
    <th>Cargo</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of cargo">
    <td>{{ m.nombreCargo }}</td>

    <td>
      <a (click)="editCargo(m.idCargo)" title="Editar" class="edit-link">
        <i class="fas fa-edit"></i>
      </a>
      <a (click)="detailsCargo(m.idCargo)" title="Detalles">
        <i class="fas fa-info-circle"></i>
      </a>
      <a (click)="deleteCargo(m.idCargo)" title="Eliminar" style="cursor: pointer;">
        <i class="fas fa-trash"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</div>
